<hr />
<div>
    <div class="btn-group w-100 mb-3" role="group" aria-label="Current view controls">
        <button type="button"
                class="btn btn-sm btn-group btn-primary w-100"
                [disabled]="!this.enableApply"
                (click)="view.apply()">Apply</button>
        <button type="button"
                class="btn btn-sm btn-group btn-primary w-100"
                [disabled]="!this.enableClear"
                (click)="view.clear()">Clear</button>
    </div>

    <input type="text"
           class="form-control mb-1"
           placeholder="View name"
           aria-label="View name"
           aria-describedby="basic-addon2"
           [(ngModel)]="view.name">

    <div class="btn-group w-100" role="group" aria-label="Stored view controls">
        <button type="button"
                class="btn btn-group btn-sm btn-primary"
                (click)="view.save()">Save</button>

        <div ngbDropdown class="btn-group d-inline-block w-100">
            <button id="dropdown-view-load"
                    class="btn btn-sm btn-block btn-primary"
                    [disabled]="view.listDefaultViews.length === 0 && view.listUserViews.length === 0"
                    ngbDropdownToggle>Load</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-view-load">
                <button class="dropdown-item" *ngFor="let name of view.listDefaultViews" (click)="loadDefaultView(name)">
                    {{name}}
                </button>
                <div class="dropdown-divider" *ngIf="view.listUserViews.length > 0"></div>
                <button class="dropdown-item" *ngFor="let name of view.listUserViews" (click)="loadUserView(name)">
                    {{name}}
                </button>
            </div>
        </div>

        <div ngbDropdown class="btn-group d-inline-block">
            <button id="dropdown-view-del"
                    class="btn btn-sm btn-block btn-primary"
                    [disabled]="view.listUserViews.length === 0"
                    ngbDropdownToggle>Delete</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-view-del">
                <button class="dropdown-item" *ngFor="let name of view.listUserViews" (click)="view.removeUserView(name)">
                    {{name}}
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="hasViewUrl" class="w-100 text-right">
        <a class="small text-dark" [href]="this.viewUrl">permalink</a>
    </div>
</div>
