.navbar {
    background-color: #d37283 !important;
    padding-left: 1px;
}

.navbar-toggler {
    border: 0px;
}

button.navbar-toggler:focus {
    outline: 0;
}

.navbar-brand {
    display: inline;
}

.navbar-brand hg-teacupimg {
    position: relative;
    top: -4px;
}

.nav-item {
    margin-right: 1rem;
}

#filter-controls {
    width: 33vw;
    padding-right: .55rem;
    position: relative;
    top: -2px;
}
