<div class="card">
    <h5 class="card-header" *ngIf="tea != null && tea.id > -1">
        {{ tea.name }}<span *ngIf="tea.year > 0">&nbsp;{{ tea.year }}</span>
    </h5>

    <div class="card-header" *ngIf="tea != null && tea.id > -1">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#entries-{{tea.id}}">entries</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#teaedit-{{tea.id}}">tea</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div *ngIf="tea != null && tea.id > -1"
            [attr.id]="tea != null && tea.id > -1 ? 'entries-'+tea.id : null"
            class="tab-pane active">
            <ul class="list-group list-group-flush" *ngIf="sortedEntries.length > 0">
                <li *ngFor="let e of sortedEntries"
                    class="list-group-item small"
                    [ngClass]="{'selected': isEntrySelected(e)}"
                    [title]="e.comments"
                    (click)="entry = e">
                    <span *ngIf="isEntryThisYear(e);else newer_entry">{{ e.datetime | date:'M/d@HHmm' }}</span><ng-template #newer_entry>{{ e.datetime | date:'y/M/d@HHmm' }}</ng-template> for {{ e.steeptime | steeptime }}
                    <hg-rating style="float: right" [rating]="e.rating" max="4" [small]="true"></hg-rating>
                </li>
            </ul>

            <hg-entry-edit
                [tea]="tea"
                [entry]="entry"
                [cancelable]="cancelable"
                (created)="createEntry($event)"
                (updated)="updateEntry($event)"
                (deleted)="deleteEntry($event)"
                (canceled)="close()">
            </hg-entry-edit>
        </div>

        <div [attr.id]="tea != null && tea.id > -1 ? 'teaedit-'+tea.id : null" class="tab-pane" [ngClass]="{'active': tea == null || tea.id < 0}">
            <hg-tea-edit
                [tea]="tea"
                [teas]="teas"
                [cancelable]="cancelable"
                (created)="createTea($event)"
                (updated)="updateTea($event)"
                (canceled)="close()">
            </hg-tea-edit>
        </div>
    </div>
</div>
