<div class="container">
    <div class="row">
        <div ngbDropdown class="d-inline-block btn-block">
            <button id="dropdown-foo"
                    class="btn btn-sm btn-block"
                    [ngClass]="{'btn-success': filter.hasStrings(name), 'btn-primary': !filter.hasStrings(name)}"
                    ngbDropdownToggle>{{name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-foo">
                <button class="dropdown-item text-capitalize btn-block"
                        *ngFor="let value of values"
                        (click)="filter.withString(name, value)">
                    {{value}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <ul *ngIf="filter.hasStrings(name)">
            <li *ngFor="let value of filter.stringField(name)"
                class="text-capitalize"
                title="Click to remove this value"
                (click)="filter.withoutString(name, value)">
                <small>{{value}}</small>
            </li>
        </ul>
    </div>
</div>
