<nav class="nav nav-pills nav-fill" role="tablist">
    <a class="nav-item nav-link rounded-0" [ngClass]="{'active': listStocked}" (click)="listStocked = true" data-toggle="tab" role="tab" aria-controls="stocked">Stocked</a>
    <a class="nav-item nav-link rounded-0" [ngClass]="{'active': !listStocked}" (click)="listStocked = false" data-toggle="tab" role="tab" aria-controls="Not stocked">Not</a>
</nav>
<div *ngFor="let t of teas"
     class="tea-list-item pl-1 text-capitalize"
     (click)="selectTea(t)">
    <span [ngClass]="{'text-warning': t.aging}">{{t.name}}</span>&nbsp;<span *ngIf="t.year" class="text-muted">{{t.year}}&nbsp;</span><span class="text-black-50 small">{{t.id}}</span>
</div>
