.btn-primary,
.btn-primary.disabled, .btn-primary:disabled,
.page-item.active .page-link,
.nav-pills .nav-link.active
{
    color: #ffffff;
    background-color: #743d8d;
    border-color: #743d8d;
}
.nav-pills .nav-link.active:hover {
    color: #ffffff;
}
.nav-pills .nav-link:hover {
    color: #743d8d;
}

.text-primary {
    color: #5b4448 !important;
}

.btn-primary:hover
{
    background-color: #2b568b;
}

.page-link,
.nav-tabs, .nav-pills .nav-link
{
    color: #0d1a2a;
}

.progress-bar {
    background-color: #a59e8c;
}

@media (max-width: 575px) {
    .collapse-sm {
        display: none !important;
    }
    aside {
        border-bottom: 1px solid #abb6c1;
    }
}

@media (min-width: 576px) {
    .collapse-lg {
        display: none !important;
    }
    aside {
        border-right: 1px solid #abb6c1;
    }
}

aside {
    background-color: #e8eaed;
}
